.section-image-content {
    .image-content {
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        border-radius: 5px;
        align-items: stretch;
        justify-content: flex-start;

        @include media-breakpoint-up(md) {
            margin: 0 -15px;
            padding: 35px 25px;
        }

        &.bg-purple {
            background-color: $purple;

            h1, h2,h3, h4, h5, h6, p {
                color: $white;
            }
        }

        > * {
            width: 100%;

            @include media-breakpoint-up(md) {
                margin: 0 15px;
                flex: 1 0 calc(50% - 30px);
                max-width: calc(50% - 30px);
            }


            &.content {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            &.image {
                margin-top: 35px;
                margin-bottom: -20px;

                @include media-breakpoint-up(md) {
                    margin-bottom: -35px;
                }

                img {
                    width: 100%;
                    height: 350px;
                    object-fit: cover;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;


                    @include media-breakpoint-up(sm) {
                        height: 100%;
                    }
                }
            }
        }
    }
}
